@import 'normalize';
@import 'variables';

//LOGIN PAGE
#login-page {
  align-items: center;
  background-image: url('../images/flowers.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  font-family: $main-font;
  height: 100vh;
  justify-content: center;
}

.main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  color: $main-light-color;
  font-family: $accent-font;
  font-size: 3em;
  font-size: 8em;
  margin: .1em;
}

h2 {
  color: $main-light-color;
  font-size: 2.5em;
  font-weight: lighter;
}

#style-line {
  border: 1px solid $main-light-color;
  margin-top: 1em;
  width: 100%;
}

.user-style-line {
  @extend #style-line;
  margin: auto;
  width: 80%;
}

#main-button-container {
  text-align: center;
  width: 100%;
}

button {
  background-color: $main-dark-color;
  border-radius: 5px;
  border-style: none;
  color: $main-light-color;
  display: inline;
  font-size: 1.2em;
  height: 3em;
  margin: .5em;
  width: 40%;
    &:hover {
      background-color: $accent-color-dark;
    }
}

#main-input {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#date-input {
  height: 2.5em;
  width: 80%;
}

#login-button {
  @extend button;
  margin: .5em 0em;
  width: 100%;
}

label {
  color: $main-light-color;
  font-size: 1.5em;
  margin: .5em 0em;
}

.error-message {
  background-color: $main-dark-color;
  color: red;
  font-size: 1.25em;
  width: auto;
}

//GUEST & MANAGER PAGES
.user-view {
  background-image: url('../images/flowers.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: $main-font;
  height: 100%;
}

.nav-home {
  align-items: center;
  color: $main-light-color;
  display: flex;
  height: 8em;
  justify-content: flex-start;
  width: 100%;
}

.logo-home {
  float: left;
  text-align: center;
  h1 {
    font-size: 3em;
  }
  p {
    font-family: $main-font;
    font-size: .4em;
    font-weight: lighter;
    margin: 0em;
  }
}

.stats-container {
  display: flex;
  justify-content: center;
}

.stats {
  background: $main-light-color;
  border-radius: 3px;
  border: 4px solid $accent-color-dark;
  display: inline;
  height: 20%;
  margin: 2%;
  text-align: center;
  width: 30%;
    h2 {
      color: $main-dark-color;
      font-family: $accent-font;
      font-size: 2em;
      font-weight: bold;
      margin: .5em;
    }

    h3 {
      font-size: 2.5em;
      font-weight: lighter;
      margin: .5em;
    }
}

.user-bottom {
  display: flex;
  justify-content: space-between;
}

.book-room-sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  margin: 0% 8%;
  padding: 2%;
  width: 30%;
  h1 {
    font-size: 5em;
    margin-bottom: 0em;
  }
}

.find-room-and-options-button-container {
  margin: 1em -11px;
  width: 100%;
}

.room-type {
  font-size: 2em;
}
select {
  margin-right: 3em;
}
.available-rooms {
  height: 100%;
  overflow: auto;
  width: 70%;
}

.rooms {
  align-items: center;
  background: $main-light-color;
  border-radius: 3px;
  border: 4px solid $accent-color-dark;
  display: flex;
  font-size: 2em;
  height: 4em;
  justify-content: space-between;
  margin: 2% 18% 2% 2%;
  padding: 2%;
    .book-room-btn {
      width: 20%;
      height: 2em;
      font-size: .75em;
    }
}

//GUEST-SPECIFIC STYLING
#welcome-msg {
  align-items: center;
  display: flex;
  font-size: 1.5em;
  height: 200px;
  justify-content: center;
}

//MANAGER-SPECIFIC STYLING

#find-guest-container {
  margin: auto;
  text-align: center;
  width: 50%;
  h1 {
    display: inline;
  }
}

#enter-guest-id {
  font-size: 2em;
}

.manager-guest-id-input {
  height: 2em;
  margin-top: 1em;
  width: 21%;
}

.find-guest-button {
  @extend .manager-guest-id-input;
  display: inline-block;
}

.manager-error {
  @extend .error-message;
  margin: auto;
  width: 40%;
}

.delete-booking-button {
  width: 85%;
}

.delete-reservation-button-container {
  @extend .find-room-and-options-button-container;
  text-align: center;
}

#guest-available-rooms {
  height: 100%;
}

.cancel-room-btn {
  font-size: .75em;
}

.hide {
  display: none;
}
